/* Rounded glass navbar */
.custom-navbar {
  background: #0d0d0d !important;
  border-radius: 30px;
  border: 2px solid #ff2d62 !important;
  padding: 10px 25px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  max-width: 650px;
  margin: 20px auto; /* center navbar */
  z-index: 10;
  position: sticky;
  top: 2rem;
  z-index: 100;
  box-shadow: 0 0 20px rgba(255, 45, 98, 0.7);
} 

/* White links */
.custom-navbar .nav-link {
  color: white !important;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s ease;
    cursor: pointer !important;
}

.custom-navbar .nav-link:hover {
  color: #ff4f7b !important;
  text-shadow: 0 0 8px #ff2d62;
    cursor: pointer !important;
      user-select: none !important;  /* prevents text selection */
  -webkit-user-select: none !important;
}

/* Make hamburger white */
.navbar-toggler {
  border-color: #ff4f7b;
}

.navbar-toggler-icon {
  filter: invert(1); /* make icon white */
}

/* Mobile dropdown */
@media (max-width: 991px) {
  #navbarCentered {
    background: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
  }
}


.nav-link {
  cursor: pointer !important;
  user-select: none !important;
  transition: 0.3s ease;
}

/* Highlight current section */
.active-link {
  color: #ff4f7b !important;
  text-shadow: 0 0 10px #ff4f7b;
  font-weight: 600;
}

/* Push hamburger to right on mobile */
@media (max-width: 991px) {
  .navbar-toggler {
    margin-left: auto; /* pushes it to right */
  }
}

