/* Rounded glass navbar */
.custom-navbar {
  background: #0d0d0d !important;
  border-radius: 30px;
  border: 2px solid #ff2d62 !important;
  padding: 10px 25px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  max-width: 650px;
  margin: 20px auto;
  position: sticky;
  top: 2rem;
  z-index: 100;
  box-shadow: 0 0 20px rgba(255, 45, 98, 0.7);
}

/* NAV LINKS */
.custom-navbar .nav-link {
  color: white !important;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s ease;
  cursor: pointer !important;
}

.custom-navbar .nav-link:hover {
  color: #ff4f7b !important;
  text-shadow: 0 0 8px #ff2d62;
  cursor: pointer !important;
  user-select: none !important;
}

/* Mobile dropdown styling */
@media (max-width: 991px) {
  #navbarCentered {
    background: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
  }
}

/* Extra link styling */
.nav-link {
  cursor: pointer !important;
  user-select: none !important;
  transition: 0.3s ease;
}

/* Highlight current section */
.active-link {
  color: #ff4f7b !important;
  text-shadow: 0 0 10px #ff4f7b;
  font-weight: 600;
}

/* Hamburger white */
.navbar-toggler {
  border-color: #ff4f7b !important;
}

.navbar-toggler-icon {
  filter: invert(1); /* makes icon white */
}

/* Mobile: center Portfolio title */
.portfolio-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 8px #ff2d62;
}

/* Hide Portfolio on desktop */
@media (min-width: 992px) {
  .portfolio-title {
    display: none !important;
  }
}

/* Push hamburger to right on mobile */
@media (max-width: 991px) {
  .navbar-toggler {
    margin-left: auto;
  }
}



/* Correct section scroll offset for navbar */
section {
  scroll-margin-top: 50px !important; /* for PC */
}

/* Medium screens */
@media (max-width: 768px) {
  section {
    scroll-margin-top: 400px !important;
  }
}

/* Very small / short mobile screens */
@media (max-width: 480px) {
  section {
    scroll-margin-top: 450px !important;
  }
}

/* VERY short devices like iPhone SE / small android */
@media (max-height: 650px) {
  section {
    scroll-margin-top: 500px !important;
  }
}
